<!--The content below is only a placeholder and can be replaced.-->
<div class="main">
  <h2 class="title">
    MASTERMIND TIMER
  </h2>
  <h1 class="current active">
    {{ displayCurrent }}
  </h1>

  <div class="clock mono active" [ngClass]="{'faltanDias': (countDays > 0)}">
    <div class="days">{{countDays}} days</div>
    <div class="hours">{{displayClock}}</div>
  </div>

  <ul class="timeline" [hidden]="countDays > 0">
    <li [ngClass]="{'act': (act==0)}"><em>19:00</em><span>Wins</span></li>
    <li [ngClass]="{'act': (act==1)}"><em>19:10</em><span>{{hotSeat}}</span></li>
    <li [ngClass]="{'act': (act==2)}"><em>19:50</em><span>Goals</span></li>
  </ul>
</div>

